.pw_1 {
  background-image: url('./bg.jpg');
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin: auto;
  width: 100%;
    
  }
  /*.image{
    position: fixed;
  }*/
  .pw1_form {
    background-color: #0b193280;
    display: flexbox; 
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding: 10vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  .pw1_h1{
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   font-weight:bolder;
   color: white;
  }
  .pw1_p{
    text-align: center;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(166, 166, 166);
  }
  
  .pw1_form-body {
    font-weight: 500;
    color: white;
   }
   
  input {
    /*width : 100%;*/
    background-color: transparent;
    border:hidden;
    padding: 5px;
    text-decoration: white;
    color: white;
    border-bottom: 1px solid white;
    }
    .form__input{
      width: 100%;
    }
  
    .pw1_button{
      background-color: #020623d6;
      color: white;
      border-radius: 20px ;
      border: hidden;
      padding: 8px;
      padding-left: 20px;
      padding-right: 20px;
      font-size:medium;
      font-weight: bolder;
    }
        
    .pw1_button:hover{
      background-color: #000000d6;
      color: #3782bfd1;
    }
  
      span{
        text-align: center;
        color:rgb(166, 166, 166); ;
      }
      .with-line{
        display: block;
      }
  
      .with-line:before, 
      .with-line:after
      {
        content: " ";
        display: inline-block;
        border-top: 1px solid rgb(166, 166, 166);
        width: 40%;
        vertical-align: middle;
        margin: 0 0.5em;
      }
  
      .pw1_footer{
        text-align: center;
        font-weight: bold;
        color: white;
        font-weight: 300;
      }
  
      .pw1_a{
        color: yellow;
        text-decoration: none;
      }
      .pw1_a:hover {
        color: rgb(0, 214, 225);
       }
      