.pw_2 {
  background-image: url('./bg.jpg');
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin: auto;
  width: 100%;
  }
  /*.image{
    position: fixed;
  }*/
  .pw2_form {
    background-color: #0b193280;
    display: flexbox; 
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  
  .pw2_h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    color: white;
   }
   .pw2_p{
    text-align: center;
    font-size:smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(166, 166, 166);
  }
  
  .pw2_PIN{
    text-align: center;
  }
  
  .pincode-input-text
    {
     color: white;
     border-radius: 10px;
     font-size: large;
     font-family: 'Times New Roman', Times, serif;
    }
    .pw2_BUTTON{
      text-align: center;
  }
  .pw2_button{
    background-color: #020623d6;
    color: white;
    border-radius: 20px ;
    border: hidden;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:medium;
    font-weight: bolder;
  }
      
  .pw2_button:hover{
    background-color: #000000d6;
    color: #3782bfd1;
  }
  
  span{
    text-align: center;
    color:rgb(166, 166, 166); ;
  }
  .with-line{
    display: block;
  }
  
  .with-line:before, 
  .with-line:after
  {
    content: " ";
    display: inline-block;
    border-top: 1px solid rgb(166, 166, 166);
    width: 40%;
    vertical-align: middle;
    margin: 0 0.5em;
  }
  
  .pw2_footer{
    text-align: center;
    font-weight: bold;
    color: white;
    font-weight: 300;
  }
  
  .pw2_a{
    color: yellow;
    text-decoration: none;
    
  }
  .pw2_a:hover {
   color: rgb(0, 214, 225);
  }
  
  
   