.pw_4 {
  background-image: url('./bg.jpg');
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  margin: auto;
  width: 100%;
  }
  
  /*.image{
    position: fixed;
  }*/
  
  .pw4_form {
    background-color: #0b193280;
    display: flexbox; 
    width: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vh;
    padding-right: 10vh;
  }
  
  .pw4_form-pw4_img{
    display: flex;
  }
  
  .pw4_h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    color: white;
   }
   .pw4_p{
    text-align: center;
    font-size:smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(166, 166, 166);
  }
  
  .pw4_button{
    background-color: #020623d6;
    color: white;
    border-radius: 20px ;
    border: hidden;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:medium;
    font-weight: bolder;
  }
      
  .pw4_button:hover{
    background-color: #000000d6;
    color: #3782bfd1;
  }
  
  .setButton{
    text-align: center;
  }